*{
    box-sizing: border-box;
}
.wrapper {
    width: 800px;
}


.left {
    width: 58%;
    float: left;
    height: 500px;
    margin: 8px;
    position: static;
    border: 1px solid rgba(204,200,204,0.96);
    box-shadow: 11px 13px 11px -4px rgba(204,200,204,0.96);
}
.right {
    width: 35%;
    float: left;
    height: 500px;
    margin: 8px;
    position: static;
    border: 1px solid rgba(204,200,204,0.96);
    box-shadow: 11px 13px 11px -4px rgba(204,200,204,0.96);
}
.picture {
    width: 100%;
}
.picture-footer {
    width: 100%;
    height: 200px;
}
.middle {
    width: 30.3%;
    float: left;
    height: 450px;
    margin: 8px;
    position: relative;
    border: 1px solid rgba(204,200,204,0.96);
    box-shadow: 11px 13px 11px -4px rgba(204,200,204,0.96);
}
.text {
    padding: 10px;
}

button {
    text-align: center;
    background-color: gray;
    color: white;
    width: 90%;
    height: 30px;
    border: 1px solid gray;
    margin: 0 10px;
    horizontal-align: middle;
}
.clearfix {
    clear: both;
}